.contact {
    background: #b5d9a5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 68px 0 74px 0;
}

.lorem-contact {
    color: white;
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 30px;
    line-height: 43px;
    font-weight: 600;
    font-family: Signika, serif;
}

.sub-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    margin: 10px 0;
}

.btn-view {
    background: white;
    padding: 16px 48px;
    color: #b5d9a5;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

/* .control-field {
    display: flex;
    align-items: center;
}

.title-contact {
    font-size: 28px;
    font-weight: 700;
    padding: 24px 0;
}

.input {
    height: 40px;
    width: 300px;
    margin-right: 8px;
    border-radius: 2px;
}

.input input {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(156, 156, 156);
    outline: none;
    padding: 0 8px;
    border-radius: inherit;
}

.submit {
    background: #528d00;
    border-radius: 2px;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    padding: 0 16px;
    color: white;
    font-weight: 700;
    text-decoration: none;
} */