@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Signika:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  pointer-events: none;
}

.title-main {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 40px 0 0 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #528d00;
  border-radius: 150px;
}

.container {
  position: relative;
  padding: 40px 0 120px 0;
  width: 100%;
  display: flex;

  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container .items {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 8px;
  width: 21%;
  margin: 8px 0;
}

.container .items h3 {
  margin: 5px 5px;
  font-size: 18px;
  min-height: 20px;
}

.container .items h3:hover {
  cursor: pointer;
  color: #528d00;
}

.container .items img {
  border-radius: 5px;
  width: 90%;
  margin: 3px 0;
}

.container .items p {
  color: black;
}

.container .items p span {
  cursor: pointer;
  color: #528d00;
  font-weight: 500;
}

/* Header */
.header {
  position: relative;
  background: black;
  height: 50px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  width: 100%;
  display: inline-block;
}

.header ul li {
  display: inline-block;
  margin: 0 15px;
  width: 120px;
  cursor: pointer;
  font-weight: 600;
}

.header ul li a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
}

.header ul li a:hover {
  color: rgb(6, 177, 6);
}

form {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 30px;
}


form .icon {
  position: absolute;
  margin-left: 10px;
  outline: none;
  border: none;
  top: -5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: black;
  transition: 0.5s ease-in-out;
}

form .icon::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
}

form .icon::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 25px;
  width: 1px;
  height: 13px;
  color: white;
  background: white;
  transform: rotate(315deg);
}

/* Footer */
.footer {
  background: #363636;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box-footer {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
}


.item-content-footer.title-footer {
  font-size: 20px;
  color: white;
}

.item-content-footer span {
  cursor: pointer;
  color: white;
}

.item-footer {
  width: 25%;
  padding: 0 16px;
}

.item-footer .box-logo {
  margin-bottom: 24px;
  width: 165px;
  height: 35px;
}

.item-footer .box-logo img {
  width: 100%;
  height: auto;
}

.item-content-footer {
  padding-bottom: 16px;
  color: #a4a4a4;
  font-size: 15px;
  line-height: 1.8;
  font-family: Signika, serif;
}

.form-control {
  height: 54px;
  margin-bottom: 16px;
}

.form-control .item-form {
  color: #636363;
  border: 1px solid #636363;
  height: 100%;
  width: 100%;
  outline: none;
  background: transparent;
  padding: 0 24px;
  -webkit-transition: border-color .2s ease-in-out;
  font-family: Signika, serif;
}

.form-control input:focus {
  border: 1px solid #a4a4a4;
}

.btn-submit {
  padding: 12px 70px;
  cursor: pointer;
  background: #00bdbb;
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  transition: .2s ease all;
}

.btn-submit:hover {
  background: white;
  color: black;
}

.overlay {
  display: none;
}


.overlay.active {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  animation: blowUpModal .25s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.bx-x {
  font-size: 24px;
}


.social {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.list-item {
  margin-top: 12px;
}

.list-item li {
  list-style: none;
}

.list-item li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.list-item li a i {
  padding-right: 8px;
  font-size: 24px;
  color: black;
}

.nav span {
  font-size: 24px;
  font-weight: 600;
}

.box-image-footer {
  display: flex;
  padding-bottom: 8px;
}

.item-image-footer {
  width: 80px;
  height: 80px;
  overflow: hidden;
  padding: 0 8px;
  cursor: pointer;
}

.item-image-footer img {
  width: auto;
  height: 100%;
}

.social-icon{
  color: white;
  padding: 0 8px;
}

.social-icon i {
  font-size: 20px;
}

.search-bar{
  padding: 4px 16px;
  outline: none;
  background: transparent;
  border: 1px solid #636363;
  color: #636363;
  border-radius: 4px;
}

