@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

.title-main {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 40px 0 0 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #528d00;
  border-radius: 150px;
}

.container {
  position: relative;
  padding-top: 40px;
  width: 100%;
  display: flex;

  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container .items {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 8px;
  width: 21%;
  margin: 8px 0;
}

.container .items h3 {
  margin: 5px 5px;
  font-size: 18px;
  height: 60px;
}

.container .items h3:hover {
  cursor: pointer;
  color: #528d00;
}

.container .items img {
  border-radius: 5px;
  width: 90%;
  margin: 3px 0;
}

.container .items p {
  color: black;
}

.container .items p span {
  cursor: pointer;
  color: #528d00;
  font-weight: 500;
}

/* Header */
.header {
  position: relative;
  background: black;
  height: 50px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  width: 100%;
  display: inline-block;
}

.header ul li {
  display: inline-block;
  margin: 0 15px;
  width: 120px;
  cursor: pointer;
  font-weight: 600;
}

.header ul li a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
}

.header ul li a:hover {
  color: rgb(6, 177, 6);
}

form {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 30px;
}

.search-form input {
  padding-left: 20px;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(179, 177, 177);
  border-radius: 8px;
  outline: none;
}

form .icon {
  position: absolute;
  margin-left: 10px;
  outline: none;
  border: none;
  top: -5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: black;
  transition: 0.5s ease-in-out;
}

form .icon::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
}

form .icon::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 25px;
  width: 1px;
  height: 13px;
  color: white;
  background: white;
  transform: rotate(315deg);
}

/* Footer */
.footer {
  position: relative;
  height: 60px;
  width: 100%;
}




.overlay.active {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  animation: blowUpModal .25s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.bx-x {
  font-size: 24px;
}

.footer {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.list-item {
  margin-top: 12px;
}

.list-item li {
  list-style: none;
}

.list-item li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.list-item li a i {
  padding-right: 8px;
  font-size: 24px;
  color: black;
}

.nav span {
  font-size: 24px;
  font-weight: 600;
}